---
import Layout from "../layouts/Layout.astro";
import Head from "./views/head.astro";
import Experience from "./views/experience.astro";
import Projects from "./views/projects.astro";
import About from "./views/about.astro";
import Footer from "./views/footer.astro";
import BgEffect from "../components/BgEffect.astro";
---

<Layout title="Welcome to Astro.">
  <BgEffect />
  <div
    class="absolute bottom-0 z-[-2] h-screen w-screen bg-transparent bg-[radial-gradient(ellipse_100%_70%_at_50%_120%,rgba(183,250,96,0.3),rgba(255,255,255,0))]"
  >
  </div>
  <div
    class="fixed top-0 z-[-2] h-screen w-screen bg-transparent bg-[radial-gradient(ellipse_100%_70%_at_50%_-30%,rgba(167,243,208,0.3),rgba(255,255,255,0))]"
  >
  </div>
  <!-- <div class="noise-bg">
    some effect
  </div> -->
  <header class="lg:max-w-4xl max-w-xl mx-auto ring-1"></header>
  <main class="lg:max-w-4xl max-w-xl mx-auto space-y-24 px-4 sm:px-0">
    <Head />
    <Experience />
    <Projects />
    <About />
  </main>
  <footer class="border-t mt-24 px-4 sm:px-0"> 
    <Footer />
  </footer>
</Layout>

<style>
  .bg.white {
    background: rgb(167, 243, 208);}
  
  .noise-bg {
    /* background-color: transparent; */
    background-image: url("https://daustinn.com/noise.webp");
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
  }
</style>
