---
interface Props {
  color?: "red" | "green" | "blue" | "yellow" | "purple" | "pink" | "gray";
}
const { color = "gray" } = Astro.props;
---

<div
  class="pill bg-gradient-to-b from-slate-200/50 to-slate-300/50 text-slate-600/80 text-xs dark:text-white"
>
  <slot />
</div>

<style>
  .pill {
    /* display: inline-block */
    /* background-color:; */
    user-select: none;
    width: fit-content;
    /* cursor: pointer; */
    border-radius: 9000px;
    padding: 4px 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    box-shadow: inset 0 0 0 2px white;
    /* background-color: rgba(228, 229, 230, 0.3); */
    border: 1px solid rgb(203 213 225 / 50%);
    font-weight: 600;
  }
  @media (prefers-color-scheme: dark) {
    .pill {
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(7, 7, 7, 0.8);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    }
  }
</style>
