---
import CardExperience from "./components/CardExperience.astro";
---

<section style="margin-top: 0px;">
  <h2 class="text-3xl font-[900] text-slate-900/80 dark:text-white">Experience & Education</h2>
  <ul class="mt-16 list-container rounded-lg">
    <CardExperience
      year="2023 - PRESENT"
      title="Frontend Developer"
      description={`I am dedicated to developing web applications that are useful for people in their daily lives. In the process I learn new technologies and methodologies to constantly improve my skills, ensuring that each project is better than the last and provides value.`}
    />
    <CardExperience
      year="MAY 2022"
      title="Tecsup - Codigo"
      description=`I studied at the Tecsup Institute, where I took a frontend developer bootcamp. During the bootcamp, I learned technologies such as React, TypeScript, Node, Express, MongoDB.`
    />
    <CardExperience
      year="2021 - 2022"
      title="Udemy"
      description=`At the beginning of my career, I took many Udemy courses to learn HTML, CSS, and JavaScript. Even today I continue taking courses to learn new things and improve my skills as a programmer.`
    />
  </ul>
</section>

<style>
  .list-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
      /* background: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(10px); */
  }
  /* }
  .list-item {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  @media (min-width: 1024px) {
    .list-item {
      gap: 7rem;
    }
  } */
</style>
