<div
  class="w-full footer text-sm font-[450] py-10 lg:max-w-4xl max-w-xl mx-auto flex flex-col gap-2 sm:flex-row sm:justify-between"
>
  <p class="text-black/90">
    built with Astro and Tailwind CSS, the <a
      class="font-bold"
      href="https://rsms.me/inter">Inter</a
    > font was used
  </p>
  <p class="whitespace-nowrap text-black/90">make with ❤️ Daniel Mosvich</p>
</div>

<style>
  .footer {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    /* justify-content: space-between; */
  }
</style>
